<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MandhegParking.Properties.Settings.MandhegParkingSystemConnectionString"
            connectionString="Data Source=DESKTOP-BK8I0G1;Initial Catalog=MandhegParkingSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>